res11 RCDATA "Img\\Mine.png"
res1 RCDATA "Img\\1.png"
res2 RCDATA "Img\\2.png"
res3 RCDATA "Img\\3.png"
res4 RCDATA "Img\\4.png"
res5 RCDATA "Img\\5.png"
res6 RCDATA "Img\\6.png"
res7 RCDATA "Img\\7.png"
res8 RCDATA "Img\\8.png"
res10 RCDATA "Img\\Flag.png"
res0 BITMAP "Img\\Tiles.bmp"
res9 RCDATA "Img\\Cross.png"
res14 RCDATA "Img\\Shadow1.png"
res15 RCDATA "Img\\Shadow2.png"
res16 RCDATA "Img\\Shadow3.png"
res12 RCDATA "Img\\MineDark.png"
res13 RCDATA "Img\\MineRed.png"
