res_img11 RCDATA "Img\\Mine.png"
res_img1 RCDATA "Img\\1.png"
res_img2 RCDATA "Img\\2.png"
res_img3 RCDATA "Img\\3.png"
res_img4 RCDATA "Img\\4.png"
res_img5 RCDATA "Img\\5.png"
res_img6 RCDATA "Img\\6.png"
res_img7 RCDATA "Img\\7.png"
res_img8 RCDATA "Img\\8.png"
res_img10 RCDATA "Img\\Flag.png"
res_img0 BITMAP "Img\\Tiles.bmp"
res_img9 RCDATA "Img\\Cross.png"
res_img14 RCDATA "Img\\Shadow1.png"
res_img15 RCDATA "Img\\Shadow2.png"
res_img16 RCDATA "Img\\Shadow3.png"
res_img12 RCDATA "Img\\MineDark.png"
res_img13 RCDATA "Img\\MineRed.png"
res_snd1 WAV "Snd\\Snd_Area1.wav"
res_snd3 WAV "Snd\\Snd_Click1.wav"
res_snd4 WAV "Snd\\Snd_Flag1.wav"
res_snd5 WAV "Snd\\Snd_Loose1.wav"
res_snd6 WAV "Snd\\Snd_Success1.wav"
res_snd2 WAV "Snd\\Snd_Check1.wav"
